

.logo{
    position: fixed;
    width: 80px;
    left: 0.5%;
   
}
.avathar{
    position: fixed;
  right: 0.5%;
    width: 30px;
}
.navbar{
    position: fixed;
    top:0;
    height: 30px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #111;

}